<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <servlet>
    <servlet-name>rontolisp</servlet-name>
    <servlet-class>am.ik.rontolisp.runtime.RontoHttpServlet</servlet-class>
    <init-param>
      <param-name>rontolisp.program-class</param-name>
      <param-value>App</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rontolisp</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
